* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border-radius: 30px;
    width: 110px;
}

.health:hover {
    background-color: green;
    color: white
}

.love:hover {
    background-color: red;
    color: white
}

.carrer:hover {
    background-color: blue;
    color: white;
}

.money:hover {
    background-color: purple;
    color: white;
}

.spirit:hover {
    background-color: yellow;
    color: black;
}

/* Agreement */

.agreement {
    border: 2px solid black;
    color: rgb(219, 168, 168);
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow: hidden;
}

/* Steps */

.step-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -900px;
    margin-bottom: -800px
}

.step-1,
.step-2,
.step-3,
.step-4 {
    border: 1px solid black;
    text-align: center;
    width: 300px;
    height: 200px;
    font-weight: bold;
    font-size: 22px;
    background-size: cover;
    color: white;
}

.step-2,
.step-4 {
    margin-left: auto;
}

.step-1 {
    background-image: url(https://media.giphy.com/media/Gx6mwitQRDATwThrFB/giphy-downsized-large.gif);
}

.step-2 {
    background-image: url(https://media.giphy.com/media/rkM07YUiJCx8lJCxVt/giphy.gif);
}

.step-3 {
    background-image: url(https://media.giphy.com/media/FMsbSSjEe0N6zH7K7x/giphy-downsized-large.gif);
}

.step-4 {
    background-image: url(https://media.giphy.com/media/3ohhwi8j3zjpDMhvxK/giphy.gif);
}

@media (max-width: 700px) {
    .step-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .step-2,
    .step-4 {
        margin-left: 0;
    }
    
    .step-container {
        margin-top: 200px;
        margin-bottom: -900px;
    }
}
