* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-size: 30px;
}

body {
    background-color: #E3FDFD;
}

h1 {
    border: 2px solid #e3fdfd;
    background: rgb(177, 214, 42);
}

img {
    width: 50%;
    height: auto;
}

iframe {
    width: 100%;
    height: 600px;
}

.intro {
    width: 100%;
    text-align: center;
}

.reason {
    background-color: lightcoral;
}

.task-box {
    display: flex;
    justify-content: space-evenly;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.challenge {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
}

.frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Self Note */

.note-bar {
    border: 1px solid black;
    text-align: center;
    background-color: white;
    width: 100%;
}

/* Mind Set */



/* Approach Anxeity */

.approach {
    background-color: #CBF1F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}