* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #E3FDFD;
    font-size: 30px;
    text-align: center;
}

h1 {
    border: 2px solid #e3fdfd;
    background: rgb(177, 214, 47);
}

img {
    width: 50%;
    height: auto;
}

iframe {
    width: 100%;
    height: 500px;
}

.intro {
    width: 100%;
}

.reason {
    background-color: lightcoral;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.report {
    margin-left: 70px;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Menu*/
.sidemenu {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 3px;
    background-color: #222;
    z-index: 1;
    padding-top: 100px;
    overflow-x: hidden;
}

.sidemenu a {
    padding: 8px 8px 8px 64px;
    text-decoration: none;
    font-size: 20px;
    color: #999;
    display: block;
}

.sidemenu a:hover {
    color: white;
}

.sidemenu .closebtn {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 36px;
    margin-left: 32px;
}

#mainbox {
    font-size: 24px;
    color: rgb(255, 1, 1);
    cursor: pointer;
    position: fixed;
}

/* Self Note */

.note-bar {
    border: 1px solid black;
    text-align: center;
    background-color: white;
    width: 100%;
}

/* Progression Bar */

.skill {
    width: 160px;
    height: 160px;
    position: relative;
}

.outer {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    padding: 20px;
}

.inner {
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
    font-weight: 600;
    color: #555;
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

.move {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes anim {
    100% {
        stroke-dashoffset: 472;
    }
}

.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(18, 22, 20, .2);
    display: grid;
    place-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease-out;
}

.modal-container.active {
    opacity: 1;
    pointer-events: all;
}

.modal-container .modal {
    max-width: 700px;
    max-height: 80vh;
    overflow: auto;
    background-color: white;
    border: 3px solid #121614;
    padding: 2rem;
    position: relative;
}

.modal-container .modal .modal__title {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    max-width: 85%;
}

.modal-container .modal .modal__btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: #121614;
    font-size: 2rem;
    line-height: 2rem;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: 3px solid #121614;
    border-radius: 50%;
    background-color: white;
    box-shadow: 3px 5px 8px 2px rgba(18, 22, 20, .2);
    transition: all 250ms ease-out;
}

.modal-container .modal .modal__btn:hover,
.modal-container .modal .modal__btn:focus {
    outline: none;
    border: 3px solid #a4b1aa;
    color: #a4b1aa;
    box-shadow: none;
}

.form-container {
    max-width: 1000px;
    margin: 1rem auto;
}

.form-container h1 {
    font-size: 3rem;
    text-align: center;
}

.form-container h3 {
    color: #33ca7f;
    text-align: center;
}

.form-container .message {
    margin: 1rem 0 1.5rem;
    color: white;
    padding: 1rem;
    text-align: center;
}

.form-container .message.success-message {
    background-color: #33ca7f;
    box-shadow: 2px 4px 7px 2px rgba(51, 202, 127, .2);
}

.form-container .message.remove-message {
    background-color: #446df6;
    box-shadow: 2px 4px 7px 2px rgba(68, 109, 246, .2);
}

.form-container .message.alert-message {
    background-color: #e01541;
    box-shadow: 2px 4px 7px 2px rgba(224, 21, 65, .2);
}

form {
    display: grid;
    grid-gap: 1rem;
    margin: 1rem 0;
    width: 100%;
}

form label,
form input,
form textarea {
    font-family: inherit;
    font-size: inherit;
}

form [for="title"],
form [for="note"] {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    grid-gap: 1rem;
    background-color: rgba(164, 177, 170, .2);
    font-weight: bold;
}

form [for="title"] input,
form [for="note"] input,
form [for="title"] textarea,
form [for="note"] textarea {
    flex: 1 1 80%;
    border: 3px solid #a4b1aa;
    padding: 0.5rem;
    color: #121614;
    width: 100%;
}

form [for="title"] input:focus,
form [for="note"] input:focus,
form [for="title"] textarea:focus,
form [for="note"] textarea:focus {
    outline: 2px solid #121614;
}

form [type="submit"] {
    background-color: #33ca7f;
    box-shadow: 3px 5px 8px 2px rgba(51, 202, 127, .2);
    border: 3px solid transparent;
    font-size: 1.3rem;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

form [type="submit"]:hover,
form [type="submit"]:focus {
    outline: none;
    box-shadow: none;
    border: 3px solid rgba(18, 22, 20, .5);
}

.note-container {
    margin: 2rem auto 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 1.5rem;
}

.note-container .note {
    border: 3px solid rgba(68, 109, 246, .2);
    padding: 1.5rem;
    transition: all 250ms ease-in-out;
}

.note-container .note__title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.note-container .note__body {
    overflow: hidden;
    max-height: 8rem;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
}

.note-container .note__btns {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.5rem;
}

.note-container .note__btns .note__btn {
    font-family: inherit;
    font-size: inherit;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    color: white;
    cursor: pointer;
    transition: all 250ms ease-out;
}

.note-container .note__btns .note__btn:focus,
.note-container .note__btns .note__btn:hover {
    box-shadow: none;
}

.note-container .note__btns .note__view {
    background-color: #446df6;
    box-shadow: 3px 5px 8px 2px rgba(68, 109, 246, .2);
}

.note-container .note__btns .note__delete {
    background-color: #e01541;
    box-shadow: 3px 5px 8px 2px rgba(224, 21, 65, .2);
}