* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #E3FDFD;
    font-size: 30px;
}

h1 {
    border: 2px solid #e3fdfd;
    background: rgb(177, 214, 42);
}

img {
    width: 50%;
    height: auto;
}

iframe {
    width: 100%;
    height: 500px;
}

.intro {
    width: 100%;
    text-align: center;
}

.reason {
    background-color: lightcoral;
}

.task-box {
    display: flex;
    justify-content: space-evenly;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.report {
    margin-left: 70px;
}

.challenge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 90px;
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Menu*/
.sidemenu {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 3px;
    background-color: #222;
    z-index: 1;
    padding-top: 100px;
    overflow-x: hidden;
}

.sidemenu a {
    padding: 8px 8px 8px 64px;
    text-decoration: none;
    font-size: 20px;
    color: #999;
    display: block;
}

.sidemenu a:hover {
    color: white;
}

.sidemenu .closebtn {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 36px;
    margin-left: 32px;
}

#mainbox {
    font-size: 24px;
    color: red;
    cursor: pointer;

}

/* Self Note */

.note-bar {
    border: 1px solid black;
    text-align: center;
    background-color: white;
    width: 100%;
}

/* Progression Bar */

.skill {
    width: 160px;
    height: 160px;
    position: relative;
}

.outer {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    padding: 20px;
}

.inner {
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
    font-weight: 600;
    color: #555;
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes anim {
    100% {
        stroke-dashoffset: 472;
    }
}

/* Approach Anxeity */

.approach {
    background-color: #CBF1F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}